{% extends '../layouts/base.html' %}

{% block title %}
    OnlyFlans|Contacto
{% endblock %}

{% block content %}
    <h1>Pagina de contacto</h1>
    <a class="btn btn-warning" href="{% url 'list_contact_web' %}">Lista de contactos</a>
    <form class="container border border-primary col-md-4" method="post">
        {% csrf_token %}
        <div class="col">
            <label class="form-label" for="customer_name">Nombre</label>
            <input class="form-control" type="text" name="customer_name" id="id_customer_name" required placeholder="ingrese nombre">
        </div>
        <div class="col">
            <label class="form-label" for="customer_email">Correo</label>
            <input class="form-control" type="email" name="customer_email" id="id_customer_email" required placeholder="ingrese Correo">
        </div>
        <div class="col">
            <label class="form-label" for="message">Mensaje</label>
            <input class="form-control" type="text" name="message" id="id_message" required placeholder="ingrese mensaje">
        </div> 
        <button class="btn btn-success mt-2 mb-2" type="submit">Registrar</button>
    </form>
{% endblock %}